<header class="min-w-full bg-eca-blue-dark-500 flex flex-col">
  <div class="flex-1 flex flex-col px-5 sm:px-6 md:px-20 lg:px-30 py-3 mb-auto">
    <div class="w-full" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
      <nav data-headlessui-state="" class="py-4">
        <div class="mx-auto max-w-8xl">
          <div class="flex justify-between items-center">
            <div class="flex lg:px-0 justify-between w-full">
              <div class="flex flex-shrink-0 items-center"><a aria-current="page" href="/data/"
                  class="router-link-active router-link-exact-active"><img src="/data/src/assets/short-Logo-reverse.svg"
                    alt="UNECA" class="h-14"></a></div>
              <div class="hidden lg:ml-6 lg:flex lg:space-x-8 items-center justify-end"><a aria-current="page"
                  href="/data/"
                  class="router-link-active router-link-exact-active rounded-md bg-transparent ring-2 ring-gray-400 text-gray-200 font-lato font-medium tracking-wider uppercase px-5 py-1.5 text-sm whitespace-nowrap hover:bg-gray-200 hover:ring-gray-200 hover:text-eca-blue-dark-700">Home</a>
                <div class="relative inline-block text-left ml-4"><button
                    class="inline-flex items-center justify-center rounded-full bg-gray-200 text-eca-blue-dark-700 font-lato font-medium tracking-wider uppercase px-3 py-1 text-sm hover:bg-white hover:text-eca-blue-dark-900 transition-colors duration-200 ease-in-out"><span
                      class="mr-1">EN</span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129">
                      </path>
                    </svg></button></div>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>
</header>
{% unless site.disclaimer.hidden %}
<div class="container">
  <div class="disclaimer-alert">
    <strong class="phase-tag">{{ site.disclaimer.phase | default: page.t.header.alpha | t }}</strong>
    {% assign disclaimer_message_default = page.t.header.disclaimer | t %}
    {{ site.disclaimer.message | default: disclaimer_message_default | t }}
    {% include components/dev-disclaimer-custom.html %}
  </div>
</div>
{% endunless %}
