<header class="eca-header">
  <div class="eca-logo-section">
    <img src="/assets/img/uneca-logo-reverse.svg" alt="ECA Logo" class="eca-logo" />
    <span class="eca-title">ECA</span>
  </div>
  <nav class="eca-nav">
    <a href="#">ECA SDGs HOME</a>
  </nav>
</header>
{% unless site.disclaimer.hidden %}
<div class="container">
  <div class="disclaimer-alert">
    <strong class="phase-tag">{{ site.disclaimer.phase | default: page.t.header.alpha | t }}</strong>
    {% assign disclaimer_message_default = page.t.header.disclaimer | t %}
    {{ site.disclaimer.message | default: disclaimer_message_default | t }}
    {% include components/dev-disclaimer-custom.html %}
  </div>
</div>
{% endunless %}
